@font-face {
	font-family: 'Macherie';
	src: url('macherie.ttf');
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
}

.message-container1 {
	width: 45%;
    height: 100px;
	margin: 250px auto;
    font-size: 30px;
    text-align: center;
    font-family: 'Macherie';
	color: #003166;
}

.message-container2 {
	width: 65%;
    height: 100px;
	margin: auto;
    font-size: 30px;
    text-align: center;
    color: #003166;
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.sq {
	height: 31px;
	width: 68%;
	margin: auto;
	padding: 10px;
	background: #ebf2ff;
}

.chat-messages {
	height: 550px;
	width: 68%;
	overflow: hidden;
	margin: auto;
	overflow-y: auto;
	padding: 10px;
	background: #ebf2ff;
}

.input-wrapper {
	position: relative;
	width: 100%;
    margin-top: 30px;
}

.message {
	margin: 10px 0;
	padding: 10px 15px;
	border-radius: 22px;
	max-width: 40%;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.user-message {
	background: #004085;
	color: #ffffff;
	margin-left: auto;
	font-size: 20px;
}

.other-message {
	background: #ffffff;
	color: #004085;
	margin-right: auto;
	font-size: 20px;
}

#messageInput {
	width: 100%;
	padding: 12px 120px 12px 20px;
	box-sizing: border-box;
	border: 2px solid #a2b5d4;
	border-radius: 25px;
	font-size: 20px;
	outline: none;
	transition: border-color 0.3s;
    font-family: "Times New Roman";
	color: #004085;
}

#messageInput:focus {
	border-color: #004085;
}

#messageInput::-webkit-input-placeholder {
    color: #8696b1;
    opacity: 1;
}

#sendButton {
    width: 38px;
    height: 38px;
	position: absolute;
	right: 6px;
	top: 50%;
	transform: translateY(-50%);
	background: #004085;
	color: white;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: background 0.3s;
	vertical-align: middle;
}

#sendButton img {
	position: absolute;
	top: 50%;
	left: 49%;
	transform: translate(-50%, -50%);
}

#sendButton:hover {
	background: #0961c0;
}

#sendButton:active {
	background: #004085;
}